.custom-quill-container {
    display: flex;
    flex-flow: column;
    height: 55vh;
}

.custom-quill-container .ql-toolbar {
    height: "10%";
}

.custom-quill-container .ql-container {
    flex: 1;
    min-height: 0;
}